body {
    display:flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin:0px;
}


.hero {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #1f2937;
    padding: 10px 100px 10px 100px;
}

.hero-bar {
    display: flex;
    justify-content: space-between;
}

.hero p, .hero a, .footer {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-bar a {
    text-decoration: none;
}

.hero-bar img {
    width: 100px;
}

.hero-bar ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.section-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section-1 img {
    width: 500px;
}

.section-1 .intro-header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro button {
    width: 100px;
    background-color: #3882F6;
}

/*.container {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    padding: 0 100px 0 100px;
}
*/

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px 0 100px;
}

.section-2 .info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    text-align: center;

}

.section-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 20px 100px 20px 100px;
}

.quote {
    display: flex;
    justify-content: center;
    padding: 0 100px;
}

.quote-author {
    display: flex;
    padding: 20px 120px 0px 0px;
    justify-content: flex-end;

}

.section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px 0 100px;
}

.section-4 button {
    width: 100px;
    background-color: #3882F6;
}

.CTA-box {
    display: flex;
    background-color: cornflowerblue;
    align-items: center;
}

.footer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 100px 10px 100px;
    background-color: #1f2937;
}

